In [1]:
import pandas as pd 
import numpy as np

In [2]:
rev = pd.read_csv('../madrid/reviews_detailed/rev_paquetes.csv')

In [3]:
rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,sentimiento
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...,"{'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'comp..."
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...,"{'neg': 0.017, 'neu': 0.609, 'pos': 0.374, 'co..."
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...,"{'neg': 0.0, 'neu': 0.612, 'pos': 0.388, 'comp..."
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r\nIt's a wond...,"{'neg': 0.0, 'neu': 0.636, 'pos': 0.364, 'comp..."
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...,"{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp..."

In [4]:
rev.sentimiento[0]

"{'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'compound': 0.9523}"

In [5]:
rev.comments[0]

'Simon and Arturo have the ultimate location in Madrid!  Steps from the Metro and bus line to everywhere you want to visit.  The accomodations are clean, well appointed and fantastic views of Madrid skyline.  We felt like it was a spa when walking into the flat.  We were greeted warmly and offered lots of information to get up and running for our short stay.  We wished we could have stayed longer and we highly recommend this location and neighborhood.'

In [6]:
import json
def parse_sentimientos(sentimiento):
    return json.loads(sentimiento.replace("'", "\""))

# Convertimos los datos en formato JSON a un diccionario de Python
rev['sentimiento_dict'] = rev['sentimiento'].apply(parse_sentimientos)

In [7]:
# Creamos cuatro columnas nuevas y extraemos los valores correspondientes a cada clave en cada fila
rev['neg'] = rev['sentimiento_dict'].apply(lambda x: x['neg'])
rev['neu'] = rev['sentimiento_dict'].apply(lambda x: x['neu'])
rev['pos'] = rev['sentimiento_dict'].apply(lambda x: x['pos'])
rev['compound'] = rev['sentimiento_dict'].apply(lambda x: x['compound'])

# Eliminamos la columna original de sentimientos y la columna de diccionarios si ya no las necesitamos

In [9]:
rev = rev.drop(['sentimiento', 'sentimiento_dict'], axis=1)

In [10]:
rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,neg,neu,pos,compound
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...,0.000,0.779,0.221,0.9523
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...,0.017,0.609,0.374,0.9978
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...,0.000,0.612,0.388,0.9322
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r\nIt's a wond...,0.000,0.636,0.364,0.9730
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...,0.000,0.737,0.263,0.7778

In [20]:
rev[rev['neg'] > 0.3]

,listing_id,id,date,reviewer_id,reviewer_name,comments,neg,neu,pos,compound
129,24836,134655601,2017-02-28,55452988,Holger,"Wir hatten eine gute Zeit in der Wohnung, die ...",0.333,0.667,0.000,-0.9661
274,26825,334567891,2018-10-09,215624448,Friedlinde,Zimmer ist sehr klein für mich hats gereicht B...,0.344,0.573,0.084,-0.7845
1129,24836,134655601,2017-02-28,55452988,Holger,"Wir hatten eine gute Zeit in der Wohnung, die ...",0.333,0.667,0.000,-0.9661
1274,26825,334567891,2018-10-09,215624448,Friedlinde,Zimmer ist sehr klein für mich hats gereicht B...,0.344,0.573,0.084,-0.7845
2481,89954,222664005,2017-12-30,156232559,Enhui,You shouldn’t miss this house!,0.321,0.679,0.000,-0.2244
...,...,...,...,...,...,...,...,...,...,...
762347,2471370,257744854,2018-04-27,81683939,Jose Vte,"Todo perfecto. Volveremos, sin duda.",0.404,0.337,0.258,-0.3182
763099,2488934,345553956,2018-11-05,202674694,Beate,"Gemütliches, sauberes Appartement.\nToller Aus...",0.310,0.690,0.000,-0.8439
763490,2519785,323915538,2018-09-16,42472399,Victoria,Die Unterkunft ist wirklich empfehlenswert: Sc...,0.339,0.661,0.000,-0.9062
763708,2527911,139591758,2017-03-26,44828308,Astrid,"Das Studio liegt an perfekter Lage, alles sehr...",0.328,0.672,0.000,-0.9661
764182,2558321,418414630,2019-03-02,108843045,Crayaureola,No tiene ascensor asíque no lleves maletas gra...,0.319,0.681,0.000,-0.5707

In [25]:
rev.comments[763490]

'Die Unterkunft ist wirklich empfehlenswert: Schönes Zimmer und eigenes blitzsauberes Bad. Die Klimaanlage im Zimmer funktioniert wunderbar. Vereniz und Javier sind sehr nett und flexibel.'

In [26]:
lis = pd.read_csv('../madrid/listings_detailed/listings_limpio.csv')

In [27]:
lis.head()

,id,host_id,host_response_time,host_is_superhost,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,require_guest_profile_picture,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,13660,within a few hours,0,1,0,Hispanoamérica,Chamartín,40.45628,-3.67763,...,9,10,9,10,f,1,0,1,0,0
1,21853,83531,unknown,0,1,1,Cármenes,Latina,40.40341,-3.74084,...,10,10,8,9,f,2,0,2,0,0
2,24805,101471,within a day,0,1,1,Universidad,Centro,40.42202,-3.70395,...,10,10,10,10,f,1,1,0,0,0
3,24836,101653,within a few hours,1,1,0,Justicia,Centro,40.41995,-3.69764,...,10,10,10,10,f,1,1,0,0,0
4,26825,114340,within an hour,0,1,1,Legazpi,Arganzuela,40.38985,-3.69011,...,10,10,10,10,f,1,0,1,0,1

In [28]:
lis.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20758 non-null  int64
 1   host_id                                       20758 non-null  int64
 2   host_response_time                            20758 non-null  object
 3   host_is_superhost                             20758 non-null  int64
 4   host_has_profile_pic                          20758 non-null  int64
 5   host_identity_verified                        20758 non-null  int64
 6   neighbourhood_cleansed                        20758 non-null  object
 7   neighbourhood_group_cleansed                  20758 non-null  object
 8   latitude                                      20758 non-null  float64
 9   longitude                                     20758 non-null  float64
 10  property_type                                 20758 non-null  object
 11  room_type                                     20758 non-null  object
 12  accommodates                                  20758 non-null  int64
 13  bathrooms                                     20758 non-null  int64
 14  bedrooms                                      20758 non-null  int64
 15  beds                                          20758 non-null  int64
 16  bed_type                                      20758 non-null  object
 17  amenities                                     20758 non-null  object
 18  price                                         20758 non-null  int64
 19  security_deposit                              20758 non-null  int64
 20  cleaning_fee                                  20758 non-null  int64
 21  guests_included                               20758 non-null  int64
 22  extra_people                                  20758 non-null  int64
 23  minimum_nights                                20758 non-null  int64
 24  maximum_nights                                20758 non-null  int64
 25  availability_30                               20758 non-null  int64
 26  availability_60                               20758 non-null  int64
 27  availability_90                               20758 non-null  int64
 28  availability_365                              20758 non-null  int64
 29  number_of_reviews                             20758 non-null  int64
 30  number_of_reviews_ltm                         20758 non-null  int64
 31  review_scores_rating                          20758 non-null  int64
 32  review_scores_accuracy                        20758 non-null  int64
 33  review_scores_cleanliness                     20758 non-null  int64
 34  review_scores_checkin                         20758 non-null  int64
 35  review_scores_communication                   20758 non-null  int64
 36  review_scores_location                        20758 non-null  int64
 37  review_scores_value                           20758 non-null  int64
 38  require_guest_profile_picture                 20758 non-null  object
 39  calculated_host_listings_count                20758 non-null  int64
 40  calculated_host_listings_count_entire_homes   20758 non-null  int64
 41  calculated_host_listings_count_private_rooms  20758 non-null  int64
 42  calculated_host_listings_count_shared_rooms   20758 non-null  int64
 43  reviews_per_month                             20758 non-null  int64
dtypes: float64(2), int64(34), object(8)
memory usage: 22.9 MB